# macOS
.DS_Store

# Xcode
output/
build/
DerivedData/
xcuserdata/
*.xccheckout
*.xcworkspace
*.xcuserstate

# Swift Package Manager
.build/

# Cocoapods
Pods/
Podfile.lock
*.xcworkspace

# Carthage
Carthage/Build/

# Package-Builder
pbuilder/

# SwiftPM
.Package.resolved
.build/
